@import "compass/css3";

.tilitem-form {
  clear: both;
  .btn-primary {
    margin-top: 7px;
    float: right;
  }
}

.tilitem-list {
  padding: 0;
  list-style: none;

  header {
    font-size: 16px;
    font-weight: bold;
  }
  li {
    clear: both;
    margin: 7px 0;
    padding: 5px;
    border: 1px solid #ddd;
  }

  ul.category-list {
    color: gray;
    clear: both;
    padding-left: 0;
    li {
      display: inline;
      color: rgb(46, 46, 46);
      font-weight: bold;
      font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      padding: 2px 5px;
      border: 1px solid rgb(195, 195, 195);
      background-color: rgb(247, 247, 247);
      @include border-radius(4px);
    }
  }
}
